.app {
  background-color: #f9f9f9;
  color: #333;
  min-height: 100vh;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  margin-left: -15px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stocks {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.news {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

